{% extends "site_base.html" %}
{% load i18n bulma_tags %}

{% block content %}

 <div class="columns is-desktop">
    <div class="column is-6 is-offset-3">


<form method="post" action=".">
  {% csrf_token %}
  {{ form|bulma }}

  <div class="field">

      <input type="submit" value="{% trans 'Submit' %}"  class="button"/>
  </div>
</form>

    </div>
  </div>
{% endblock %}

