{% extends "site_base.html" %}

{% block content %}




{% if request.user.is_authenticated %}

<p>
    ir al dashboard <a href="{% url 'home'%}"> Dashboard </a>

</p>

{% endif %}

{% endblock content %}