{% load i18n static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block  title_header %}{% endblock %}</title>

  <link rel="stylesheet" href="{{STATIC_URL}}dist/app.css">
  {% block  header %}{% endblock %}
</head>
<body>
    <nav class="navbar has-shadow is-light" id="top">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
            {% block title %} brand1 {% endblock %}
            </a>
            <div class=" navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                   
                {% if user.is_authenticated %}

                {% block left_menu %}
                <span class="navbar-item">
                        <a href="{% url 'products' %}">{% trans "Suscribirse" %}</a>
                </span>
                {% endblock %}
                
                 <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="{% url 'home' %}">
                           {{ user.username }} 
                        </a>

                        
                            <div class="navbar-dropdown">
                                    
                                        <span class="navbar-item">
                                            <a href="{% url 'auth_password_change' %}">{% trans "Cambiar contraseña" %}</a>
                                        </span>
                                        
                                        <span class="navbar-item">
                                                <a href="{% url 'auth_logout' %}">{% trans "Salir" %}</a> 
                                            </span>
                                           
                            </div>


                    

                {% endif %}

                {% if not user.is_authenticated %}
                    <span class="navbar-item">
                    <a class="button" href="{% url 'auth_login' %}">
                        {% trans "Entrar" %}
                    </a>
                    <a class="button is-info" href="{% url 'registration_register'%}">
                        {% trans "Registrarse" %}
                    </a>
                    </span>
                {% endif %}
                
                
            </div>
            {% get_language_info_list for LANGUAGES as languages %}
            {% if languages|length  > 0 %}
            <span class="navbar-item">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}" />
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
            
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go" />
                </form>
            </span> 
            {% endif %}
            
            {% if request.user.is_superuser %}
            <span class="navbar-item">
                    <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
            </span>
            {% endif %}
            {% block right_menu %}
            {% endblock %}
        </div>
        </div>
    </div>
  </nav>
  <section class="section">
    <div class="container">

{% if messages %}

  <div class="messages columns is-desktop">
          <div class="column is-4 is-offset-4">
            {% for message in messages %}
              <div class="message {% if message.tags %}is-{{ message.tags }}{% endif %}">
                <div class="message-body">{{ message }}</div>
              </div>
            {% endfor %}
          </div>
</div>

{% endif %}

        {% block content  %} 

        {% block content_area %}
            
        {% endblock   %}

        {% if user.is_authenticated %}
                 <p class="has-text-centered">
                {% trans "Logged" %} <a href="{% url 'home'%}" class="button "> {% trans "Ir al dashboard" %}</a>
                </p>
        {% else %} 
            {% include 'public.html' %}
        {% endif %}
        {% endblock %}
    </div>
  </section>
  <script type="text/javascript" src="{% static 'microsaas/burger.js' %}"></script>
  <script type="text/javascript" src="{{STATIC_URL}}dist/app.js"></script>
  {% block jsfooter %}
  {% endblock jsfooter %}
</body>
</html>
